/* ------------------------------- Container Search ------------------------------- */

.containerCard {
  margin: auto;
}

.containerCard ion-searchbar{
  max-width: 500px;
  margin: auto;
}

@media (min-width: 576px) {
  .containerCard {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .containerCard {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .containerCard {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .containerCard {
    max-width: 1200px;
  }
}

/* ------------------------------- Container result card ------------------------------- */

#body{
  margin: auto;
}

#body > div{
  min-height: 70vh;
  background-color: var(--ion-color-medium);
  padding: 0.1rem;
  margin: 10px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#body > div >  div{
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 576px) {
  #body{
    max-width: 540px;
  }
  #body > div >  div{
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 768px) {
  #body {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  #body {
    max-width: 960px;
  }
  #body > div >  div{
    -ms-flex: 0 0 33.3333333333%;
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
}

@media (min-width: 1200px) {
  #body {
    max-width: 1200px;
  }
}

/* ------------------------------- list result ------------------------------- */

#body form{
  background-color: var(--ion-color-light) !important;
  margin: 0.25rem;
  padding: 0.25rem;
  color: white;
}

#body ion-list{
  background-color: var( --ion-color-medium ); 
  padding: 0;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  color: white;
  width: 100%;
}

#body ion-list ion-item{ 
  --border-color: var( --ion-color-medium ); 
}

#body ion-list ion-item::part(native){
  background-color: var( --ion-color-light );
  padding-right: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

/* ------------------------------- Modal Filter ------------------------------- */

.modal-filter .modal-wrapper{
  background-color: #1e1e1ed0 !important;
}
.modal-filter .modal-wrapper > div{
  justify-content: flex-end;
}

/* ------------------------------- Modal Item ------------------------------- */

.modal-item .modal-wrapper{
  background-color: #1e1e1ed0 !important; /*989aa2*/
}

.modal-item section{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.modal-item section > div{
  background-color: var(--ion-color-light);
  max-width: 98%;
  width: 340px;

  position: relative;
  display: flex;
  flex-direction: column;
  border: #989aa2 solid 1px;
}

.modal-item-title{
  text-align: center;
  padding: 1rem;
  font-size: 1.25rem;
}

.modal-item-title div{
  position: absolute;
  top: 5px;
  right: 5px;
}

.modal-item-title ion-button::part(native){
  border: 0;
  font-size: 25px;
  padding: 0;
}

.modal-item-body{
  flex: 1 1 auto;
  max-height: 500px;
  min-height: 300px;
  overflow-y: auto;
  font-size: 1.1rem;
  font-family: poppins1;
  padding: 0.5rem;
  padding-top: 0rem;
  text-align: center;
}

.modal-item-body input{
  padding-bottom: 0 !important;
}

.modal-item-body span{
  font-size: 0.95rem;
  color: var(--ion-color-primary);
}

.modal-item-body ion-col{
  padding: 0;
  padding-bottom: 1rem;
}

.modal-item-body ion-button::part(native){
  border-radius: 0;
}