
/* ------------------------------- General Tab 2 ------------------------------- */

.container-tab2 {
  margin: auto;
}

@media (min-width: 576px) {
  .container-tab2 {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container-tab2 {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container-tab2 {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container-tab2 {
    max-width: 1200px;
  }
}

.btn-type3 {
  color: skyblue; 
  border: skyblue 1px solid; 
  background-color: transparent; 
  font-family: poppins1; 
  font-size: 18px; 
  height: 32px;
  width: 200px;
}

.btn-type4 {
  color: tomato; 
  border: tomato 1px solid; 
  background-color: transparent; 
  font-family: poppins1; 
  font-size: 18px; 
  height: 32px;
  width: 200px;
}

.btn-outline-type1 {
  color: skyblue; 
  border: skyblue 1px solid; 
  background-color: transparent;
}
.btn-outline-type2 {
  color: tomato; border: tomato 1px solid; 
  background-color: transparent;
}

.btn-outline-typeA{
  color: skyblue; 
  border: skyblue 1px solid; 
  background-color: transparent;
  font-family: poppins1;
  font-size: 18px;
  height: 32px;
  margin-inline: auto;
  width: 75%;
}

#root ion-chip{
  color: skyblue;
}

/* ------------------------------- Poppover login ------------------------------- */

.pop2 {
  --background: #222;
  --width: 300px;
}

.pop2 ion-card-header{
  text-align: center; 
  padding-bottom: 0;
}
.pop2 ion-card-title{
  font-size: 26px; 
  font-family: poppins1; 
  padding-bottom: 0.5rem;
}
.pop2 ion-card-subtitle{
  margin: 0;
}
.pop2 ion-chip{
  background-color: var(--ion-color-step-100);
}
.pop2 ion-chip ion-img{
  height: 40px; 
  width: 40px;
}
.pop2 ion-chip ion-icon{
  font-size: 45px; 
  color: rgb(0,100,200);
}
.pop2 ion-label, .pop2 ion-input{
  font-family: poppins1 !important;
}

/* ------------------------------- Add user form ------------------------------- */


.body-2 ion-card ion-item{
  height: 45px;
}
.body-2 ion-card ion-item::part(native){
  padding-left: 0.25rem; 
  font-size: 18px; 
  text-align: right;
}


ion-content ion-card {
  margin-top: 0.25rem; 
  padding-bottom: 0rem;
}
ion-content ion-card-title{
  text-align: center;
}
ion-content ion-card-title ion-chip ion-icon{
  font-size: 20px;
}
ion-content ion-card-title ion-chip ion-label{
  font-size: 18px; 
  font-family: poppins1;
}
ion-content ion-card-content{
  padding: 0.5rem !important;
}
ion-content ion-card-content ion-label{
  font-family: poppins1 !important; 
  text-transform: uppercase; 
  font-size: 20px !important; 
  line-height: 0.9; 
  color: skyblue !important;
}
ion-content ion-card-content ion-input{
  font-family: poppins1 !important; 
  text-transform: uppercase;
}
ion-content ion-card-content ion-icon{
  padding-right: 0.5rem; 
  font-size: 18px;
}
ion-content ion-card-content .item-has-focus{
  --highlight-background: skyblue;
}

/* ------------------------------- Buttons UD ------------------------------- */

.button-group-UD{
  text-align: center;
  margin-top: 0.5rem;
}

.button-group-UD ion-button{
  font-family: poppins1;
  width: 45%;
}

/* ------------------------------- About Card ------------------------------- */

#sec_about ion-chip:nth-child(3){
  height: 80px;
  border-radius: 0px;
  background-color: transparent;
}

#sec_about ion-chip:nth-child(3) ion-img{
  height: 100%;
  padding-bottom: 1rem;
}

#sec_about span{
  font-size: 12px;
  font-family: poppins1;
}